.user-profile-form {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 60px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centering the button */
}

.user-profile-form label {
    display: block;
    margin-bottom: 5px;
    text-align: left; /* Keep labels aligned left */
}

.user-profile-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-profile-form button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.user-profile-form button:hover {
    background-color: #218838;
}
